._*
.cache/
.classpath
.DS_Store
.DS_Store?
.phpunit.result.cache
.project
.settings/
.Spotlight-V100
.Trashes
*.backup
*.bak
*.cache
*.log
*.orig
*.phar
*.pid
*.pid.lock
*.rej
*.seed
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.temp
*.tmp
*~
/.idea/
/.php-cs-fixer.cache
/.phpstorm.meta.php/
/.phpunit.cache/
/.psalm-cache/
/.vscode/
/build/
/config/paragra.php
/coverage/
/docs/_build/
/docs/.doctrees/
/test-output/
/test-results/
/vendor/
$RECYCLE.BIN/
composer.phar
desktop.ini
ehthumbs.db
llms.txt
phpunit-events.log
Thumbs.db